<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHr9OUNFKuRbktt2IMlblGJbouBsaOxd8</string>
	<key>GCM_SENDER_ID</key>
	<string>965324284587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakoblandbrecht.betapp</string>
	<key>PROJECT_ID</key>
	<string>check24-betapp</string>
	<key>STORAGE_BUCKET</key>
	<string>check24-betapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965324284587:ios:3b204a4413a2a98e9b0dee</string>
</dict>
</plist>